{% extends 'hkis/layout.html' %}
{% load i18n static %}

{% block title %}{% trans "Python Exercises" %}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
    body{
        background:url({% static "img/intro-bg.jpg" %}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        font-family:Lora,'Helvetica Neue',Helvetica,Arial,sans-serif;
        position:relative;
        width:100%;
        height:100%;
        color:#fff;
    }
    </style>
{% endblock %}

{% block container %}
<div class="row mt-5">
    <div class="mx-auto">
        <img class="align-self-center mr-3" src="{% static "img/logo_hackinscience.png" %}" width="190px">
    </div>
</div>
<div class="black-grad row mt-5">
    <div class="mx-auto">
        <p class="lead text-center py-5">
          {% blocktrans %}Hackinscience is an interactive Python exercise platform: <br/>
          Write code, get instant feedback from our correction bot <br/>
          with detailed information about what went wrong so you'll never get stuck.{% endblocktrans %}
          </br><br/>
          <a class="btn btn-secondary" href="{% url 'auth_login' %}" role="button">{% trans "Sign in" %}</a>
          <a class="btn btn-primary" href="{% url 'registration_register' %}" role="button">{% trans "Sign up" %}</a>
          <br/>
        </p>
    </div>
</div>
{% endblock %}
