html {
    height: 100%
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header.navbar {
    background: #1e2933;
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.66);
}

.hkis_content {
    flex: 1 1 auto;
    min-height: 0;
    padding-left: .5em;
    padding-top: .5em;
    padding-right: .5em;
}

.django-ace-editor {height: 100%}

h1 {
    color: #444;
}

h2 {
    margin-bottom: 15px;
    color: #444;
}

h1.exercise-title {
    margin: 0;
}

.instructions {
    margin-top: 25px;
    margin-bottom: 25px;
}

.result-box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    padding-left: 9.5px;
    line-height: 1.8em;
}

.black-grad {
    background: radial-gradient(farthest-corner, black, transparent 70%);
}

span.good {
    color: #28a745;
}

span.bad {
    color: #cb2431;
}

a {
    color: #3776ab;
}

a.text-underline-hover {
    text-decoration: none;
}

a.text-underline-hover:hover {
    text-decoration: underline;
}

.fieldWrapper .django-ace-editor {
    font-size: 16px;
}

.result-box pre {
    margin-bottom: 0;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
}

.align-center{
    text-align: center;
    font-size:180%;
}

.style-info h1{
    text-align:center;
}

.style-info h2{
    font-size: 160%;
}

.style-info h3{
    font-size: 140%;
}

.style-info h4{
    font-size: 120%;
}

.style-info h5{
    font-size: 100%;
}

.style-info h6{
    font-size: 80%;
}

.signature {
    font-size: 12px;
    color: #666;
    line-height: 0;
    text-align: center;
}
